<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Producto
                <button (click)="goAddProduct()" class="btn btn-warning">Agregar Producto</button>
            </h3>
        </div>
        <div class="card-body" style=" height:450px; overflow:auto;">
            <table class="table table-hover" cellspacing="0" cellpadding="1">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <tr *ngFor="let product of products" class="text-center">
                        <td>{{product.idproducto}}</td>
                        <td>{{product.productname}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        <td>
                            <button (click)="EditProduct(product)" class="btn btn-warning">Editar</button>
                            <button (click)="openDialog(product)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>