<div class="container col-md-10" style=" height:600px; overflow:auto;">
    <div class="card">
        <div class="card-header">
            <h3>Registro</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Apellido Paterno:</label>
                    <input [(ngModel)]="godparent.lastname" name="lastname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellido Materno:</label>
                    <input [(ngModel)]="godparent.secondlastname" name="secondlastname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input [(ngModel)]="godparent.firstname" name="firstname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Segundo Nombre:</label>
                    <input [(ngModel)]="godparent.secondname" name="secondname" type="text" class="form-control">
                </div>


                <div class="form-group">
                    <label for="">Fecha de Nacimiento:</label>

                    <input [matDatepicker]="parentDatepicker" [(ngModel)]="godparent.dateborn" name="dateborn" class="form-control">
                    <mat-datepicker-toggle [for]="parentDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #parentDatepicker></mat-datepicker>
                </div>

                <div class="form-group">
                    <label for="">Teléfono:</label>
                    <input [(ngModel)]="godparent.phone" name="phone" type="text" class="form-control">
                </div>


                <div class="form-group">
                    <label for="">Celular:</label>
                    <input [(ngModel)]="godparent.cellphone" name="cellphone" type="text" class="form-control">
                </div>

                <button (click)="createGodParent()" class="btn btn-success">Agregar</button>

            </form>
        </div>
    </div>
</div>