<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Materiales
                <button (click)="goAddMaterial()" class="btn btn-warning">Agregar Nuevo</button>
            </h3>
        </div>

        <div class="card-body" style=" height:450px; overflow:auto;">
            <table class="table table-hover" cellspacing="0" cellpadding="1">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>TÍTULO</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <tr *ngFor="let material of materials" class="text-center">
                        <td>{{material.idmaterial}}</td>
                        <td>{{material.title}}</td>
                        <td>
                            <button (click)="EditMaterial(material)" class="btn btn-warning">Editar</button>
                            <button (click)="openDialog(material)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div>
    <p>Author: Johnn Hidalgo</p>
    <p><a href="mailto:hege@example.com">hege@example.com</a></p>
</div>