<button (click)="goRegistro()" class="button">
    <img class="iconbut" src="assets/img/verify.png"/>
    <br>
    Registro
</button>

<button (click)="goAddPersonList()" class="button ">
    <img class="iconbut" src="assets/img/teamwork.png"/>
    <br>
    Catecumenos
</button>

<button (click)="goCatequistaList()"  class="button">
    <img class="iconbut" src="assets/img/team.png"/>
    <br>
    Catequistas
</button>

<button (click)="goSaleList()"  class="button">
    <img class="iconbut" src="assets/img/cashier.png"/>
    <br>
    Ventas
</button>

<button (click)="goProductList()"  class="button">
    <img class="iconbut" src="assets/img/shipping.png"/>
    <br>
    Productos
</button>

<button (click)="goDocumentList()"  class="button">
    <img class="iconbut" src="assets/img/document.png"/>
    <br>
    Documentos
</button>

<button (click)="goMatrialList()"  class="button">
    <img class="iconbut" src="assets/img/folder.png"/>
    <br>
    Materiales
</button>

<button (click)="goCatequesisList()"  class="button">
    <img class="iconbut" src="assets/img/teamc.png"/>
    <br>
    Catequesis
</button>